# Cache and logs (Symfony2)
/application/app/cache/*
/application/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
application/app/spool/*

# Cache, session files and logs (Symfony3)
/application/var/cache/*
/application/var/logs/*
/application/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Parameters
/application/app/config/parameters.yml
/application/app/config/parameters.ini

# Managed by Composer
/application/app/bootstrap.php.cache
/application/var/bootstrap.php.cache
/application/bin/*
!bin/console
!bin/symfony_requirements

# Assets and user uploads
/application/web/bundles/
/application/web/uploads/

# PHPUnit
/application/app/phpunit.xml
/application/phpunit.xml

# Build data
/application/build/

# Backup entities generated with doctrine:generate:entities command
**application/Entity/*~

# Netbeans metadata
/nbproject/
/nbproject/private/

# Dossiers ignorés par défaut lors de la création d'un projet Symfony 3.4
/application/.web-server-pid
/application/app/config/parameters.yml
/application/build/
/application/phpunit.xml
/application/var/*
!/application/var/cache
/application/var/cache/*
!/applicationvar/cache/.gitkeep
!/application/var/logs
/application/var/logs/*
!/application/var/logs/.gitkeep
!/application/var/sessions
/application/var/sessions/*
!/application/var/sessions/.gitkeep
!/application/var/SymfonyRequirements.php
/application/vendor/
/application/web/bundles/