{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="active"><a href="/">Accueil</a></li>
            </ol>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="container-buttons" class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Raccourcis</h4>
                        </div>
                    </div>
                    <div class="row spacer-small">
                        <div class="col-md-4">
                            <a href="" class="btn btn-default disabled" data-toggle="tooltip" title="Sera rendu disponible ultérieurement">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                <span class="button-label">Enregistrer une commande client</span>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="" class="btn btn-default disabled" data-toggle="tooltip" title="Sera rendu disponible ultérieurement">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                                <span class="button-label">Valider un bon de livraison client</span>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="" class="btn btn-default disabled" data-toggle="tooltip" title="Sera rendu disponible ultérieurement">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                                <span class="button-label">Accuser réception d'une livraison client</span>
                            </a>
                        </div>
                    </div>
                    <div class="row spacer-small">
                        <div class="col-md-4">
                            <a href="" class="btn btn-default disabled" data-toggle="tooltip" data-placement="bottom" title="Sera rendu disponible ultérieurement">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                <span class="button-label">Passer une commande fournisseur</span>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="" class="btn btn-default disabled" data-toggle="tooltip" data-placement="bottom" title="Sera rendu disponible ultérieurement">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                                <span class="button-label">Accuser réception d'une livraison fournisseur</span>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="" class="btn btn-default disabled" data-toggle="tooltip" data-placement="bottom" title="Sera rendu disponible ultérieurement">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                <span class="button-label">Enregistrer un nouveau produit</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/default/index.css') }}">
{% endblock %}
